# Terraform
.terraform/

# State files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock file
# Remova esta linha se quiser versionar o lockfile (recomendado)
# .terraform.lock.hcl

# CLI config files
.terraformrc
terraform.rc

apache-config
kubeconfig-apache

terraform/phase2/terraform.tfvars
certs/
**/.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
phase2/terraform.tfvars
./terraform/certs/cert.pem
